.sobre{
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    backdrop-filter: blur(5px);
}

.sobre>h1{
    padding: 3em 0px;
    font-weight: bolder;
}


