:root{
  --fonte_destaque:'Rubik', sans-serif;
  --font_padrao: Arial, Helvetica, sans-serif;

  --cor0: #45cdff;
  --cor1: #faca3c;
  --cor2: #ffa73c;
  --cor3: #fc713e;
  --cor4: #ff5d4e;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

