@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

a, h1, h2 {
  font-family: 'Rubik', sans-serif;
}
.App{
  height: 100%;
  width: 100%;
}
.navbar{
  z-index: 3;
}

.home{
  height: 100%;
  width: 100%;
}