section.servicos{
    background-color: #0099ff;
    width: 100%;
    height: 100%;
    align-content: center;
    margin-bottom: -10px;
}

section.servicos_conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #0099ff;
    margin-top: 5%;
}

section.servicos>h1{
    text-align: center;
    color: white;
    margin-top: 0;
    padding:20px;
    font-size: 60px;
    padding-top: 100px;
}

#onda{
    position: absolute;
    bottom: 0px;
}
