@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root{
   --fonte_destaque:'Rubik', sans-serif;
   --font_padrao: Arial, Helvetica, sans-serif;

   --cor0: #45cdff;
   --cor1: #faca3c;
   --cor2: #ffa73c;
   --cor3: #fc713e;
   --cor4: #ff5d4e;
}


header#menu {
    padding: 10px;
    width: 100%;
    display: inline-block;
    align-items: center;
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.219); 
    background-image: linear-gradient(to right,var(--cor2), var(--cor4));
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s;
}


div#logo {
    height: 20px;
    margin-right: auto;
    display: inline;
    align-items: center;
}

div#logo img {
    display: inline;
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

div#logo h1 {
    font-family: var(--fonte_destaque);
    font-style: normal;
    display: inline-block;
    outline: 2px;
    margin: 0;
    padding: 0;
    color: white;
    outline-color: black;

}

header nav {
    top: 3%;
    left: 50%;
  display: inline-block;
  border-bottom: 3%;

    
}

header > nav > a {
    text-decoration: none;
    border-radius: 5px;
    font-family: var(--fonte_destaque);
    color: white;
    padding: 4px 4px;
    margin: 10px 10px;
    transition-duration: 0.3s;
}

header > nav > a:hover {
    color: var(--cor3);
    background-color: white;
    border-radius: 5px;
}

body {
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}

body > main {
    text-align: center;
}



div#home{
    width: 100%;
    height: 2000px;
}

div#home > h1 {
    font-family: var(--fonte_destaque);
    font-size: large;
    padding: 100px;
}