@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root{
   --fonte_destaque:'Rubik', sans-serif;
   --font_padrao: Arial, Helvetica, sans-serif;

   --cor0: #45cdff;
   --cor1: #faca3c;
   --cor2: #ffa73c;
   --cor3: #fc713e;
   --cor4: #ff5d4e;
}

h1,h2{
    color: rgb(88, 88, 88);
    font-family: var(--fonte_destaque);
}

header#menu {
    padding: 10px;
    width: 100%;
    display: block;
    align-items: center;
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.219); 
    background-image: linear-gradient(to right,var(--cor2), var(--cor4));
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s;
    margin-bottom: auto;
    z-index: 2;
    
}


div#logo {
    height: 20px;
    margin-right: auto;
    display: inline;
    align-items: center;
}

div#logo img {
    display: inline;
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

div#logo h1 {
    font-family: var(--fonte_destaque);
    font-style: normal;
    display: inline-block;
    outline: 2px;
    margin: 0;
    padding: 0;
    color: white;
    outline-color: black;

}

header nav {
    top: 3%;
 margin-left: 32%;
  display: inline-block;
  border-bottom: 3%;

    
}

header > nav > a {
    text-decoration: none;
    border-radius: 5px;
    font-family: var(--fonte_destaque);
    color: white;
    padding: 4px 4px;
    margin: 10px 10px;
    transition-duration: 0.3s;
}

header > nav > a:hover {
    color: var(--cor3);
    background-color: white;
    border-radius: 5px;
}

body {
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}

body > main {
text-align: center;
width: 100%;
height: 94vh;
margin: 0;
border: 0;
}



div#home{
    display: block;
    width: 100%;
    height:100%;
 
}

div#home > h1 {
    font-family: var(--fonte_destaque);
    font-size: 3em;
    padding-top: 100px;
    padding-left: 100px;
    text-align: left;
}

div#home > h2 {
    font-family: var(--fonte_destaque);
    padding-top: 0;
    padding-left: 100px;
    font-size: 2em;
    text-align: left;
}
div#sobre{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0099ff;
}

div#sobre>h1{
    text-align: left;
    color: white;
    margin: 0;
    padding:20px;
}

div#servicos>h1{
    text-align: left;
    color: var(--cor3);
    margin: 0;
    padding:20px;
}

span{
    transition-duration: 0.3s;
    pointer-events: stroke;
}
span#serio:hover {
    color:#45cdff;
}

.grow-on-hover {
    display: inline-block; /* Garante que o span não quebre a linha */
    transition: transform 0.3s; /* Adiciona uma transição suave */
    transition: all 0.3s;
}

.grow-on-hover:hover {
    background-image:linear-gradient(to right,var(--cor2), var(--cor4));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-left: 15px;
    margin-right: 30px;
    transform: scale(1.2); /* Aumenta o tamanho do span */
}

button{
    margin-top: 50px;
    margin: auto;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-family: var(--fonte_destaque);
    font-weight: bolder;

}


div#servicos{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #007dd1;
}

.ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #0099ff;
    z-index: 1;
  }
  
  .wave {
    background: url(source/onda.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }