@charset "UTF-8";

/* Em HTML é ID em CSS será # (só pode um elemento por página)
    Em HTML é class em CSS será . (pode ter vários dentro da classe)*/

body{
    background-color:#82D4FF ;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #43D990;
}

h1#principal {
    color: #4EFC77;
    text-align: center;
    background-color: #43CDD9;
    border-radius: 20px;
}

h2{
    color: #43CDD9;
}
    .basico{
        color: #00a927;
    }
    .intermediario{
        color: yellow;
    }
    .avancado{
        color: red
    }

.destaque {
    background-color: #4efc778d;
}