@charset "UTF-8";

/* Em HTML é ID em CSS será #
    Em HTML é class em CSS será . */

body{
    background-color:rgb(255, 162, 198) ;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(255, 35, 119);
}

h1#principal {
    color: rgb(69, 168, 207);
    text-align: center;
    background-color: rgb(204, 217, 229);
    border-radius: 20px;
}

h2{
    color: rgb(252, 70, 140);
}