section#home{
    width: 70%;
    height: 100vh;
    background-image: "";
    padding-top: 100px;
    text-align: left;
    background-repeat: no-repeat;
    background-size:cover;
    
}

section#home>h1{
    margin-top: 0;
    backdrop-filter: none;
}